<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Footer Start -->
<div>
    <div>
        <div>
            <div>
                <div class="col-lg-4 col-md-6">
                    <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Kontak</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Jl. Cokroatmojo No.11-23, Gladak Anyar, Kec. Pamekasan, Kabupaten Pamekasan, Jawa Timur 69317, Indonesia</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0823-3196-1951</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>baksobejo.wordpress.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

  <a href="/index">HOME</a>
  <table class="table berdered">
    
    
    {% for dl in data %}
    <tr>
        <td>{{dl.id}}</td>
        <td><a href="details/{{dl.id}}">{{dl.namaproduk}}</a></td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>