<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>detail produk</title>
    <body>
            <h1>Daftar Menu</h1>
            <table class="table berdered">
                <tr>
                    <th>Nama Produk</th>
                    <th>{{ data.namaproduk }}</th>
                </tr>
                <tr>
                    <th>Nama Kategori</th>
                    <th>{{ data.kategori }}</th>
                </tr>
                <tr>
                    <th>Harga</th>
                    <th>{{ data.harga }}</th>
                </tr>
            </table>
    </body>
</head>
</html>
