<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1, h2, p {
            text-align: center;
        }
        h2{
            margin-top: -10px;
        }
    </style>
</head>
<body>
    <h1>SELAMAT DATANG DI TEMPAT MAKAN</h1>
    <h2>BAKSO BEJO</h2>
    <p>Bakso bejo adalah tempat makan yang berada di daerah pamekasan</p>
    <p>tempatnya memang kecil tapi soal rasa memang sangatlah enak. banyak orang yang mampir untuk makan di tempat makan bakso bejo tersebut</p>
    <p>harganya juga terjangkau sesuai menu yang di pilih. bukan hanya makanan yang ada di sana tapi juga ada berbagai minuman</p>
    <a href="/produk">MAKANAN</a>
    <a href="/aku">MINUMAN</a>
</body>
</html>